@font-face {
    font-family: $fontFamilyRobotoLight;
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: $fontFamilyRobotoBold;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: $fontFamilyRobotoRegular;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: $fontFamilyRobotoMedium;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: $fontFamilyOpenSansLight;
    src: url(../fonts/Open_Sans/OpenSans-Light.ttf);
}

@font-face {
    font-family: $fontFamilyOpenSansRegular;
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: $fontFamilyOpenSansBold;
    src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
}

@font-face {
    font-family: $fontFamilyOpenSansSemiBold;
    src: url(../fonts/Open_Sans/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: $fontFamilyRobotoSlabBold;
    src: url(../fonts/Roboto_Slab/static/RobotoSlab-Bold.ttf);
}


@font-face {
    font-family: $fontFamilyUbuntuRegular;
    src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
}